{%extends 'index.html'%} {%block head%}
<title>Xbank - Aguarde</title>
{%endblock%} {%block body%}
<div class="pg-login container-fluid d-flex align-items-center">
	<div class="w-100">
		<div class="d-flex justify-content-center text-center">
			<h1>
				<div>
					<p class="h3 p-0 m-0">Conta cadastrada com sucesso!</p>
				</div>
				<div class="d-flex flex-column my-4">
					<p class="h3 p-0 m-0">Conta: </p>
					<p class="h3 p-0 m-0">Agência: </p>
				</div>
				<div>
					<p class="h3 p-0 m-0">Aguarde a aprovação.</p>
				</div>
			</h1>
		</div>
		<div class="d-flex align-items-start justify-content-center mt-2">
			<a href="{{url_for('auth.login')}}">
				<div class="btn btn-secondary btn-lg">Ir para login</div>
			</a>
		</div>
	</div>
</div>
{%endblock%}
