{%extends 'index.html'%} {%block head%}

<title>Cadastro</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

{%endblock%} {%block body%}

<div class="container">
	<form method="POST">
		<!-- Dados pessoais -->

		<h3>Cadastro</h3>
		<hr />
		<div>
			<label>Nome:</label><br />
			<input type="text" name="nome" />
		</div>

		<div>
			<label>CPF:</label><br />
			<input type="text" name="cpf" />
		</div>
		<!-- 
		<div>
			<label>Data de Nasc.:</label><br />
			<input type="date" name="data_nasc" />
		</div>

		<div>
			<label>E-mail:</label><br />
			<input type="email" name="email" />
		</div> -->

		<!-- Dados de moradia -->
		<!-- 
		<h3>Endereço</h3>
		<hr />
		<div>
			<label>Cep:</label><br />
			<input type="text" style="width: 125px" /> -
			<input type="text" style="width: 35px" />
		</div>

		<div>
			<label>Rua:</label><br />
			<input type="text" name="rua" />
		</div>

		<div>
			<label>Bairro:</label><br />
			<input type="text" name="bairro" />
		</div>

		<div>
			<label>Cidade:</label><br />
			<input type="text" name="cidade" />
			<label>UF:</label>
			<input type="text" name="uf" style="width: 25px" />
		</div>

		<div>
			<label>País:</label><br />
			<input type="text" name="pais" />
		</div> -->

		<!-- Dados da Conta-->

		<h3>Dados da Conta</h3>
		<hr />
		<div>
			<label>Senha:</label><br />
			<input type="password" name="senha" id="senha" /><br />
			<!-- <label>Repita sua senha:</label><br />
			<input type="Senha" /> -->
		</div>

		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>
	<button onclick="document.location='/'">Ir para login</button>
</div>

{%endblock%}
