{%extends 'index.html'%} {%block head%}
<title>XBank - Cadastro</title>
{%endblock%} {%block body%}

<!-- header alternativo -->
<div class="pg-cadastro container-fluid d-flex flex-column align-items-center">
	{%for message in get_flashed_messages()%} {%if message%}
	<div class="d-flex justify-content-center mt-3 position-absolute">
		{{message}}
	</div>
	{%endif%}{%endfor%}

	<div class="caixa-dados mx-auto my-auto col-10">
		<form method="POST" class="form">
			<!--Dados Pessoais-->
			<div class="titulo px-2 d-flex justify-content-between">
				<p class="h3">Dados Pessoais</p>
				<div class="btn-sair text-center my-auto">
					<button type="button" class="btn-close btn-sm" aria-label="Close"
						onclick="document.location='/'"></button>
				</div>
			</div>
			<hr />

			<div class="d-flex flex-wrap">
				<div class="col-xxl-8 col-xl-8 col-md-8 col-sm-8 col-12 px-2">
					<label for="nome">Nome*</label><br />
					<input type="text" name="nome" id="nome" class="w-100" required />
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-12 px-2">
					<label for="genero">Gênero*</label><br />
					<div class="d-flex align-items-center">
						<!-- <div class="col-4 d-flex align-items-center">
							<input type="radio" name="genero" id="masculino" value="masculino" required />Masculino
						</div>
						<div class="col-4 d-flex align-items-center">
							<input type="radio" name="genero" id="feminino" value="feminino" />Feminino
						</div>
						<div class="col-4 d-flex align-items-center">
							<input type="radio" name="genero" id="outros" value="outro" />Outros
						</div> -->

						<select name="genero" class="w-100">
							<option value="">--Selecionar--</option>
							<option value="masculino" name="genero" id="masculino">Masculino</option>
							<option value="feminino" name="genero" id="feminino">Feminino</option>
							<option value="outros" name="genero" id="outros">Outros</option>
						</select>

					</div>
				</div>
			</div>

			<div class="d-flex flex-wrap">
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-6 px-2">
					<label for="cpf">CPF*</label><br />
					<input type="text" name="cpf" id="cpf" class="w-100" required />
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-6 px-2">
					<label for="rg">RG</label><br />
					<input type="text" name="rg" id="rg" class="w-100" />
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-12 px-2">
					<label for="data_nasc">Data de Nasc.*</label><br />
					<input type="date" name="data-nasc" id="data-nasc" class="w-100" required />
				</div>
			</div>

			<!--Endereço-->
			<div class="titulo px-2 mt-4">
				<p class="h3">Endereço</p>
			</div>
			<hr />

			<div class="d-flex flex-wrap">
				<div class="col-xxl-8 col-xl-8 col-md-7 col-sm-7 col-12 px-2">
					<label for="rua">Rua</label><br />
					<input type="text" name="rua" id="rua" class="w-100" />
				</div>
				<div class="col-xxl-2 col-xl-2 col-md-2 col-sm-2 col-6 px-2">
					<label for="numero">N°</label><br />
					<input type="text" name="numero" id="numero" class="w-100" />
				</div>
				<div class="col-xxl-2 col-xl-2 col-md-3 col-sm-3 col-6 px-2">
					<label for="Complemento">Complemento</label><br />
					<input type="text" name="complemento" id="complemento" class="w-100" />
				</div>
			</div>
			<div class="d-flex flex-wrap">
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-6 col-6 px-2">
					<label for="cep">CEP*</label><br />
					<input type="number" name="cep" id="cep" class="w-100" />
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-3 col-sm-6 col-6 px-2">
					<label for="bairro">Bairro</label><br />
					<input type="text" name="bairro" id="bairro" class="w-100" />
				</div>
				<div class="col-xxl-3 col-xl-3 col-md-3 col-sm-7 col-7 px-2">
					<label for="cidade">Cidade</label><br />
					<input type="text" name="cidade" id="cidade" class="w-100" />
				</div>
				<div class="col-xxl-1 col-xl-1 col-md-2 col-sm-5 col-5 px-2">
					<label for="uf">UF</label><br />
					<input type="text" name="uf" id="uf" class="w-100" />
				</div>
			</div>
			

			<!--Dados da Conta-->
			<div class="titulo px-2 mt-4">
				<p class="h3">Dados da Conta</p>
			</div>
			<hr />
			<div class="d-flex flex-wrap">
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-6 col-6 px-2">
					<label for="senha">Senha*</label><br />
					<input type="password" name="senha" id="senha" class="w-100" required />
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-6 col-6 px-2">
					<label for="senha-repetida">Repita sua senha*</label><br />
					<input type="password" name="senha-repetida" id="senha-repetida" class="w-100" required />
				</div>
				<div class="c1 d-flex justify-content-around gap-3 align-items-end col-xxl-4 col-xl-4 col-md-4 col-sm-12 col-12 px-2">
					<div class="pb-1">
						<!-- <label for="corrente" class="col-6">Corrente</label> -->
						<input type="radio" name="tipo" id="corrente" value="corrente" required /> Corrente
					</div>
					<div class="pb-1">
						<!-- <label for="poupanca" class="col-6">Poupança</label> -->
						<input type="radio" name="tipo" id="poupanca" value="poupanca" /> Poupança
					</div>
				</div>
			</div>

			<!--Botão de salvar-->
			<div class="d-flex justify-content-center gap-2 mx-auto w-75 mt-4 mb-3">
				<div class="col-xxl-2 col-xl-2 col-md-3 col-sm-4 col-5">
					<button type="submit" class="btn-att w-100">Cadastrar</button>
				</div>
			</div>
		</form>
	</div>
</div>

{%endblock%}