{%extends 'index.html'%} {%block head%}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{%endblock%} {%block body%}
<div class="container">
	<div class="caixa">
		
		<div class="headerCaixa">
			<h3>LOGIN</h3>
		</div>

		<div class="login">
			<form method="post">
				<div>
					<label for="cpf">Conta: </label>
					<input type="text" name="conta" />
				</div>
				<div>
					<label for="senha">Senha: </label>
					<input type="password" id="senha" name="senha" />
				</div>
			</form>
		</div>
		
		<div class="botaoLogin">
			<button>Entrar</button>
			<a href="http://localhost:5000/cadastro"><button>cadastrar</button></a>
			
		</div>

	</div>
</div>

{%endblock%}
