

/* Estilização do input number */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cadastro>p {
    margin-bottom: 0 !important;
}

.cadastro>hr {
    margin-top: 0 !important;
}
