{%extends 'index.html'%} {%block head%}

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<title>XBank - Cadastro de Gerentes</title>

<style>
	.header-b {
		display: none !important;
	}
</style>
{%endblock%} {%block body%}

<!-- header alternativo -->
{%if 'gerente' in g.usuario.tipo%}
<header class="header d-flex justify-content-between">
	<div class="w-25">
		<div class="home col-2 d-flex justify-content-center align-items-center h-100 btn btn-outline-secondary p-0"
			onclick="document.location='/admin/gerente'">
			<span class="material-symbols-outlined"> undo </span>
		</div>
	</div>

	<div class="logo w-50 h-100 d-flex justify-content-center text-center align-items-center">
		<p class="h2 m-0 p-0">X-bank</p>
	</div>

	<div class="funcao-direita w-25 h-100 pe- d-flex justify-content-end align-items-center">
		<div class="ola m-0 p-0 d-flex justify-content-center flex-column h-100 pe-2">
			<p class="h5 m-0 p-0">Olá <b>{{g.usuario.nome}}</b><br /></p>
			<span class="m-0 p-0"> Saldo: R$ {{g.conta.saldo | dinheiro}} </span>
		</div>

		<div class="sair col-2 d-flex justify-content-center align-items-center h-100 btn btn-outline-secondary p-0"
			onclick="document.location='/logout'">
			<span class="material-symbols-outlined"> power_settings_new </span>
		</div>
	</div>
</header>
{%endif%}

<div class="pg-attdados container-fluid d-flex align-items-center">

	<div class="caixa-dados mx-auto px-2">
		<form method="POST" class="form">
			<!--Dados Pessoais-->
			<div class="titulo">
				<p class="h3">Dados Pessoais</p>
			</div>
			<hr />
			<div class="d-flex mt-2">
				<div class="col-8 pe-2">
					<label for="nome">Nome*</label><br />
					<input type="text" name="nome" id="nome" class="w-100" required />
				</div>
				<div class="col-4">
					<label for="genero">Gênero*</label><br />
					<input type="text" name="genero" id="genero" class="w-100" disabled />
				</div>
			</div>
			<div class="d-flex">
				<div class="col-4 pe-2">
					<label for="cpf">CPF*</label><br />
					<input type="text" name="cpf" id="cpf" class="w-100" required />
				</div>
				<div class="col-4 pe-2">
					<label for="rg">RG</label><br />
					<input type="text" name="rg" id="rg" class="w-100" disabled />
				</div>
				<div class="col-4">
					<label for="data_nasc">Data de Nasc.*</label><br />
					<input type="text" name="data-nasc" id="data-nasc" class="w-100" disabled />
				</div>
			</div>
			<div class="d-flex">
				<div class="col-8 pe-2">
					<label for="email">E-mail*</label><br />
					<input type="email" name="email" id="email" class="w-100" disabled />
				</div>
				<div class="col-4">
					<label for="matricula">Matrícula</label>
					<input type="text" name="matricula" id="matricula" class="w-100">
				</div>
				
			</div>

			<!--Endereço-->
			<div class="titulo">
				<p class="h3 mt-4">Endereço</p>
			</div>
			<hr />
			<div class="d-flex mt-2">
				<div class="col-4 pe-2">
					<label for="cep">CEP*</label><br />
					<input type="number" name="cep" id="cep" class="w-100" disabled />
				</div>
				<div class="col-4 pe-2">
					<label for="bairro">Bairro</label><br />
					<input type="text" name="bairro" id="bairro" class="w-100" disabled />
				</div>
				<div class="col-3 pe-2">
					<label for="cidade">Cidade</label><br />
					<input type="text" name="cidade" id="cidade" class="w-100" disabled />
				</div>
				<div class="col-1">
					<label for="uf">UF</label><br />
					<input type="text" name="uf" id="uf" class="w-100" disabled />
				</div>
			</div>
			<div class="d-flex">
				<div class="col-8 pe-2">
					<label for="rua">Rua</label><br />
					<input type="text" name="rua" id="rua" class="w-100" disabled />
				</div>
				<div class="col-2 pe-2">
					<label for="numero">N°</label><br />
					<input type="text" name="numero" id="numero" class="w-100" disabled />
				</div>
				<div class="col-2">
					<label for="Complemento">Complemento</label><br />
					<input disabled type="text" name="complemento" id="complemento" class="w-100" />
				</div>
			</div>

			<div class="d-flex justify-content-center gap-2 mx-auto w-75 mt-4 mb-3">
				<div class="col-2">
					<button class="btn-att w-100" type="submit">Cadastrar</button>
				</div>
			</div>
		</form>
	</div>
</div>

{%endblock%}