{%extends 'baseinterna.html'%}

{%block head%}

<title>Xbank - Agência</title>

<style>
    .btn-att {
        background-color: rgb(209, 209, 209, .700);
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 0px 3px 10px rgba(black, .450);
        cursor: pointer;

    }

    .btn-att:hover {
        background-color: rgb(141, 141, 141);
    }
</style>

{%endblock%}

{%block body%}

<div class="d-flex justify-content-between align-items-center border-bottom border-dark px-2">
    <div class="col-3"></div>
    <p class="h3 py-3 mb-0 text-center col-6">
        Cadastro de Gerentes
    </p>
    <div class="col-3" onclick="document.location='/admin/cadastroGerente'">
        <button class="btn-att w-100">Novo Gerente</button>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center p-2 border-bottom border-dark">
        <div class="col-4">
            <div style="text-transform: capitalize">Nome: José das Couves</div>
            <div>CPF: 99999999999</div>
        </div>
        <div class="col-4">
            <div>Matrícula: 1234</div>
            <div>Agência: 0001</div>
        </div>

        <div class="col-3 gap-1">
            <form action="" method="POST">
                <button class="btn btn-secondary w-100" type="submit">
                    Atualizar Dados
                </button>
            </form>
        </div>
</div>


<!-- <div class="h-75 d-flex align-items-center justify-content-center">
	<h2 class="text-center">Sem Gerentes Cadastrados!</h2>
</div> -->


{%endblock%}