{%extends 'baseinterna.html'%} {%block head%}

<title>XBank - Dados dos Clientes</title>

{%endblock%} {%block body%}

<div class="pg-usuario w-100 h-100">

	<p class="titulo h3 py-3 mb-0 text-center border-bottom border-dark">
		Contas cadastradas
	</p>
	{% with messages = get_flashed_messages() %} {%if messages %} {%for message in
	messages%}
	<div class="pnd d-flex justify-content-center align-items-center text-center w-100 p-2">
		<div class="msg d-flex align-items-center">{{message}}</div>
	</div>
	{%endfor%} {%endif%} {%endwith%} {%if dados%} {%for dado in dados%}
	<div class="conteudo d-flex justify-content-between p-2 border-bottom border-dark">
		<div class="col-9">
			<div class="d1 d-flex">
				<p class="col-xxl-6 col-xl-6 col-md-6 col-sm-6 p-0 m-0">Número da conta: {{dado.id_conta}}</p>
				<p class="col-xxl-6 col-xl-6 col-md-6 col-sm-6 p-0 m-0">Agência: {{dado.agencia}}</p>
			</div>
			<div class="d1 d-flex">
				<p class="col-xxl-6 col-xl-6 col-md-6 col-sm-6 p-0 m-0">Tipo de conta: {{dado.tipo | capitalize}}</p>
				<p class="col-xxl-6 col-xl-6 col-md-6 col-sm-6 p-0 m-0">Dt abertura: {{dado.abertura | date}}</p>
			</div>
			<div class="d1 d-flex">
				<p class="col-xxl-6 col-xl-6 col-md-6 col-sm-6 p-0 m-0">Usuário: {{dado.nome | capitalize}}
				<p class="col-xxl-6 col-xl-6 col-md-6 col-sm-6 p-0 m-0">CPF: {{dado.cpf}}</p>
			</div>
		</div>
	
		<div class="botao d-flex justify-content-center col-3 my-auto">
			<a href="{{url_for('admin.dados', usuario=dado.id_usuario)}}" class="w-100">
				<div class="btn btn-secondary w-100 text-center mx-0 px-0">
					Atualizar Cadastro
				</div>
			</a>
		</div>
	</div>
	{%endfor%} {%else%}
	
	<div class="mensagem h-75 d-flex align-items-center justify-content-center">
		<h2 class="text-center">Sem cadastros realizados!</h2>
	</div>
	
</div>
{%endif%}
{%endblock%}