{%extends 'baseinterna.html'%} {%block head%}
<title>X-bank - Cadastros</title>
<style>
	.ola > span {
		display: none;
	}
</style>

{%endblock%} {%block body%}
<div class="tt">
	<p class="h3 py-3 text-center">Aprovação de Cadastro</p>
</div>

<div>
	{% with messages = get_flashed_messages() %} {%if messages %} {%for message in
	messages%}
	<div
		class="pnd d-flex justify-content-center align-items-center text-center w-100 p-2"
	>
		<div class="msg d-flex align-items-center">{{message}}</div>
	</div>
	{%endfor%} {%endif%} {%endwith%} {%if cadastros%} {%for cadastro in
	cadastros%}
	<div class="pnd d-flex w-100 p-2">
		<div class="col-9">
			<div>Nome: {{cadastro.nome}}</div>
			<div>CPF: {{cadastro.cpf}}</div>
			<div>Tipo de Conta: {{cadastro.tipo}}</div>
		</div>

		<div class="col-3 text-center">
			<form action="" method="POST">
				<input type="hidden" name="cpf" value="{{cadastro.cpf}}" />
				<input type="hidden" name="status" value="aprovado" />
				<button class="btn btn-secondary mb-1 w-100" type="submit">
					Aprovar
				</button>
			</form>
			<form action="" method="POST">
				<input type="hidden" name="cpf" value="{{cadastro.cpf}}" />
				<input type="hidden" name="status" value="rejeitado" />
				<button class="btn btn-outline-dark w-100" type="submit">
					Rejeitar
				</button>
			</form>
		</div>
	</div>
	{%endfor%} {%else%}
</div>
<div class="h-75 d-flex align-items-center justify-content-center">
	<h2>Não há pendências!</h2>
</div>
{%endif%} {%endblock%}
