{%extends 'baseinterna.html'%}
{%block head%}

<title>Xbank - Comprovantes</title>

{%endblock%}
{%block body%}
{%if comprovantes%}
{%for comprovante in comprovantes%}
<div class="px-2" style="border-bottom: 1px solid black">
	<div>Status: {{comprovante.status}}</div>
	<div>Valor: {{comprovante.valor}}</div>
	<div>Criado em: {{comprovante.data_inicio}}</div>
	<div>Tipo: {{comprovante.tipo}}</div>
</div>
{%endfor%}
{%else%}
<div class="h-75 d-flex align-items-center justify-content-center">
	<h2>Não foram feitas transações nessa conta</h2>
</div>
{%endif%} {%endblock%}
