<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
	<!-- CSS -->
	<!-- botao off -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<!-- Bootstrap -->

	{%block head%} {%endblock%}
</head>

<body>

	<header class="header-b d-flex justify-content-center align-items-center">
		<div class="logo-b w-50 h-100 d-flex justify-content-center text-center align-items-center">
			<p class="h1 m-0 p-0">X-bank</p>
		</div>
	</header>

	{%block body%} {%endblock%}
</body>

</html>