{% extends "index.html" %}
{%block head%}

<title>Página Principal</title>

<style>
	.pg-principal {
		background-image: url("../../static/img/quadrados.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
</style>

{%endblock%}
{%block body%}

<div class="pg-principal container-fluid">

	<!-- <div>
		<h1>Olá {{g.usuario.nome}}!!!</h1>

		<button onclick="document.location='/conta/saque'">Saque</button>

		<button onclick="document.location='/conta/deposito'">Deposito</button>
	</div>
	<div>Seu saldo é de {{data.saldo}} reais.</div>
	<div>
		<button onclick="document.location='/logout'">Fazer logout</button>
	</div> -->

</div>
{%endblock%}
