.base-interna {
  background-image: url("../../static/img/quadrados.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 90vh;
  font-weight: 500;
  
  .caixa-principal {
    width: 90%;
    min-height: 78vh;

    @media (max-width: 575px) {
      width: 98%;
    }
    
    .botoes {
      flex-wrap: wrap;
      overflow: auto;

      @media (max-width: 575px) {
        flex-wrap: nowrap;
        justify-content: flex-start !important;
      }

      .funcao {
        background-color: rgb(209, 209, 209, .700);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 0px 7px 10px rgba(black, .450);
        cursor: pointer;

        @media (max-width: 330px) {
          width: 66px !important;  
        }

        .head {
          border-radius: 15px 15px 0 0;

          p {
            margin: 0;
            padding-top: 4px;
            font-size: 15px;
            font-weight: bold;
            
            @media (max-width: 855px) {
              font-size: 13px !important;
            }
            @media (max-width: 400px) {
              font-size: 12px !important;
            }
            @media (max-width: 356px) {
              font-size: 11px !important;
            }
            @media (max-width: 330px) {
              font-size: 10px !important;
            }
          }

        }

        &:hover {
          background-color: rgb(209, 209, 209);
        }
      }
    }

    .caixa-sistema {
      background-color: rgb(209, 209, 209, .700);
      border: 2px solid black;
      border-radius: 15px;
      box-shadow: 0px 7px 20px rgba(black, .450);
      height: 82vh;
      margin: 0 auto;
      overflow: auto;

      @media (max-width: 575px) {
        height: 68vh;
        margin-top: 6px;
      }
    }
  }
}
  
*::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.699);
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}