.pg-home {
  .titulo {
    @media (max-width: 575px) {
      font-size: 20px !important;
    }
  }

  .transacoes {
    @media (max-width: 1050px) {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    @media (max-width: 830px) {
      padding-top: 18px !important;
      padding-bottom: 18px !important;
    }
    @media (max-width: 584px) {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }


    @media (max-width: 409px) {
      flex-direction: column !important;
    }

    .t1 {
      @media (max-width: 409px) {
        width: 100% !important;
      }

      p {
        @media (max-width: 1050px) {
          font-size: 18px !important;
        }
        @media (max-width: 830px) {
          font-size: 14px !important;
        }
      }
    }


  }
}

.mensagem {
  h2 {
    @media (max-width: 990px) {
      font-size: 22px !important;
    }
    @media (max-width: 575px) {
      font-size: 20px !important;
    }
  }
}