
// CSS para pagina de login

.pg-login {
    background-image: url("../../static/img/quadrados.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 93vh;

    .caixa {
        background-color: rgb(209, 209, 209);
        text-align: center;
        border-radius: 15px;
        width: 350px;
        box-shadow: 0px 7px 20px rgba(black, .450);
        

        .header-caixa {
            background-color: rgb(43, 43, 43);
            border-radius: 15px 15px 0 0;

            h3 {
                color: white;
            }
        }

        .login {

            label {
                font-weight: bold;
            }

            input {
                border: 1px solid #dee2e6;
                border-radius: 5px !important;
            }
        }
    }

    .cadastre {
        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}