
.pg-principal {
    min-height: 92vh;
       
    .menu-suspenso {
        text-align: center;
        position: fixed;
        top: 12%;
        left: 2%;
        width: 80px;
        
        img {
            width: 80%;
            margin: 15% 0;
        }
        
    }
}
