
.saque-deposito {
    .titulo {
        p {
            margin-bottom: 0 !important;
            text-indent: 5px;
            border-bottom: 1px solid black;
        }
    }

    .conteudo {
        .msg {
            background-color: whitesmoke;
            border-radius: 8px;
            margin-top: 20px;
            padding: 8px;
        }
    }
}
