.header {
  background-color: rgb(43, 43, 43);
  height: 7vh;
  color: white;
}
@media (max-width: 575px) {
  .header .funcao-inicio {
    width: 35% !important;
  }
}
@media (max-width: 575px) {
  .header .logo {
    width: 30% !important;
  }
}
.header .logo p {
  color: white;
  font-weight: bold !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 360px) {
  .header .logo p {
    font-size: 23px !important;
  }
}
@media (max-width: 575px) {
  .header .funcao-direita {
    width: 35% !important;
  }
}
@media (max-width: 575px) {
  .header .funcao-direita .ola {
    align-items: flex-end !important;
  }
}
.header .funcao-direita .ola p {
  text-transform: capitalize;
}
@media (max-width: 830px) {
  .header .funcao-direita .ola p {
    font-size: 15px !important;
  }
}
@media (max-width: 393px) {
  .header .funcao-direita .ola p {
    font-size: 12px !important;
  }
}
.header .funcao-direita .ola span {
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .header .funcao-direita .ola span {
    font-size: 12px !important;
  }
}
@media (max-width: 393px) {
  .header .funcao-direita .ola span {
    font-size: 10px !important;
  }
}
.header .funcao-direita .sair {
  border: none;
}
.header .home {
  border: none;
  color: white;
}
.header .home span {
  font-size: 27px;
}
.header .sair {
  color: white;
}

.header-b, .header-adm {
  background-color: rgb(43, 43, 43);
  height: 7vh;
  color: white;
}
.header-b .logo-b > p, .header-adm .logo-b > p {
  color: white;
  font-weight: bold !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pg-login {
  background-image: url("../../static/img/quadrados.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 93vh;
}
.pg-login .caixa {
  background-color: rgb(209, 209, 209);
  text-align: center;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.45);
}
.pg-login .caixa .header-caixa {
  background-color: rgb(43, 43, 43);
  border-radius: 15px 15px 0 0;
}
.pg-login .caixa .header-caixa h3 {
  color: white;
}
.pg-login .caixa .login label {
  font-weight: bold;
}
.pg-login .caixa .login input {
  border: 1px solid #dee2e6;
  border-radius: 5px !important;
}
.pg-login .cadastre a {
  text-decoration: none;
  cursor: pointer;
}

.pg-cadastro {
  background-color: rgb(209, 209, 209);
  min-height: 93vh;
}
.pg-cadastro .form {
  padding-top: 3vh;
}
.pg-cadastro .titulo {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.pg-cadastro .titulo p {
  margin-bottom: 0 !important;
}
.pg-cadastro hr {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}
.pg-cadastro label {
  font-weight: bold;
}
.pg-cadastro input {
  border: 1px solid #dee2e6;
  border-radius: 5px !important;
}
.pg-cadastro .btn-att {
  background-color: rgba(209, 209, 209, 0.7);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.pg-cadastro .btn-att:hover {
  background-color: rgb(141, 141, 141);
}

.base-interna {
  background-image: url("../../static/img/quadrados.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 92vh;
  font-weight: 500;
}
.base-interna .caixa-principal {
  width: 90%;
  min-height: 80vh;
}
@media (max-width: 575px) {
  .base-interna .caixa-principal {
    width: 98%;
  }
}
.base-interna .caixa-principal .botoes {
  flex-wrap: wrap;
  overflow: auto;
}
@media (max-width: 575px) {
  .base-interna .caixa-principal .botoes {
    flex-wrap: nowrap;
    justify-content: flex-start !important;
  }
}
.base-interna .caixa-principal .botoes .funcao {
  background-color: rgba(209, 209, 209, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.base-interna .caixa-principal .botoes .funcao .head {
  border-radius: 15px 15px 0 0;
}
.base-interna .caixa-principal .botoes .funcao .head p {
  margin: 0;
  padding-top: 4px;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 575px) {
  .base-interna .caixa-principal .botoes .funcao .head p {
    font-size: 13px;
  }
}
.base-interna .caixa-principal .botoes .funcao:hover {
  background-color: rgb(209, 209, 209);
}
.base-interna .caixa-principal .caixa-sistema {
  background-color: rgba(209, 209, 209, 0.7);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.45);
  height: 85vh;
  margin: 0 auto;
  overflow: auto;
}
@media (max-width: 575px) {
  .base-interna .caixa-principal .caixa-sistema {
    height: 70vh;
    margin-top: 6px;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.699);
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.msg {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
}
@media (max-width: 1200px) {
  .msg {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
.pg-impressao {
  min-height: 93vh;
  font-weight: 500;
}
.pg-impressao .caixa-impressao {
  background-color: rgb(243, 243, 243);
  width: 350px;
  border: 2px solid black;
}

.pg-attdados {
  background-color: rgb(209, 209, 209);
  min-height: 93vh;
}
.pg-attdados .caixa-dados {
  max-height: 90vh;
  background-color: rgba(209, 209, 209, 0.7);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.45);
  color: rgb(58, 58, 58);
  overflow: auto;
}
.pg-attdados .caixa-dados .titulo {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.pg-attdados .caixa-dados .titulo p {
  margin-bottom: 0 !important;
}
.pg-attdados .caixa-dados hr {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}
.pg-attdados .caixa-dados label {
  font-weight: bold;
}
.pg-attdados .caixa-dados input {
  border: 1px solid #dee2e6;
  border-radius: 5px !important;
}
.pg-attdados .caixa-dados .btn-att {
  background-color: rgba(209, 209, 209, 0.7);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.pg-attdados .caixa-dados .btn-att:hover {
  background-color: rgb(141, 141, 141);
}/*# sourceMappingURL=style.css.map */