.header {
  background-color: rgb(43, 43, 43);
  height: 10vh;
  color: white;

  .funcao-inicio {
    @media (max-width: 900px) {
      width: 35% !important;
    }
    @media (max-width: 400px) {
      display: none !important;
    }

    .p1 {
      @media (max-width: 540px) {
        font-size: 15px !important;
      }
    }
    .p2 {
      @media (max-width: 540px) {
        font-size: 12px !important;
      }
    }

  }

  .logo {
    @media (max-width: 900px) {
      width: 30% !important;
    }
    @media (max-width: 400px) {
      width: 30% !important;
    }

    p {
      color: white;
      font-weight: bold !important;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (max-width: 540px) {
        font-size: 25px !important;
      }

      @media (max-width: 400px) {
        font-size: 18px !important;
      }

    }
  }

  .funcao-direita {    
    @media (max-width: 900px) {
      width: 35% !important;
    }

    @media (max-width: 400px) {
      width: 70% !important;
    }

    .menu {
      position: relative;

      .menu-cliente {
        display: none !important;

        &.aberto {
          display: block !important;
        }

        background-color: rgb(43, 43, 43, .950);
        position: absolute;
        top: 10vh;
        
        ul {
          list-style: none;
          
          li>a {
            color: white;
            display: flex;
            height: 2em;
            text-decoration: none;

            &:hover {
              background-color: rgb(175, 175, 175);
            }
          }
        }

      }

      .setting {
        border: none;
        color: white;

        @media (max-width: 680px) {
          padding-left: 1px !important;
          padding-right: 1px !important;
        }

        @media (max-width: 400px) {
          padding-left: 4px !important;
          padding-right: 4px !important;
        }
        
        span {          
          &:hover {
            color: rgb(163, 163, 163);
            cursor: pointer;
          }

          @media (max-width: 540px) {
            font-size: 18px !important;
          }
        }
      }

      .ola {
  
        p {
          @media (max-width: 540px) {
            font-size: 15px !important;
          }
          @media (max-width: 400px) {
            font-size: 12px !important;
          }
        }
  
        span {
          text-transform: capitalize;
  
          @media (max-width: 540px) {
            font-size: 12px !important;
          }
          @media (max-width: 400px) {
            font-size: 10px !important;
          }
        }

        .s2 {
          @media (max-width: 400px) {
            display: block !important;
          }
        }
  
      }
    }


    .sair {
      border: none;
      color: white;

      span {
        @media (max-width: 400px) {
          font-size: 20px;
        }
      }
    }
  }

  .home {
    @media (max-width: 400px) {
      width: 8% !important;
    }

    .home1 {
      border: none;
      color: white;

      @media (max-width: 400px) {
        width: 100% !important;
      }
  
      span {
        font-size: 27px;
      }
    }
  }
}

.header-b,
.header-adm {
  background-color: rgb(43, 43, 43);
  height: 10vh;
  color: white;

  .logo-b>p {
    color: white;
    font-weight: bold !important;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@import 'login';
@import 'cadastro';
@import 'baseinterna';
@import 'principal';
@import 'impressao';
@import 'attdados';