.header {
  background-color: rgb(43, 43, 43);
  height: 10vh;
  color: white;

  .funcao-inicio {
    @media (max-width: 575px) {
      width: 35% !important;
    }

    // @media (max-width: 414px) {
    //   width: 35% !important;
    // }
  }

  .logo {
    @media (max-width: 575px) {
      width: 30% !important;
    }

    p {
      color: white;
      font-weight: bold !important;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (max-width: 360px) {
        font-size: 23px !important;
      }

    }
  }

  .funcao-direita {
    @media (max-width: 575px) {
      width: 35% !important;
    }

    .menu {
      position: relative;

      .menu-cliente {
        display: none !important;

        &.aberto {
          display: block !important;
        }

        background-color: rgb(43, 43, 43, .950);
        position: absolute;
        top: 10vh;
        
        ul {
          list-style: none;
          
          li>a {
            color: white;
            display: flex;
            height: 2em;
            text-decoration: none;

            &:hover {
              background-color: rgb(175, 175, 175);
            }
          }
        }

      }

      .setting {
        border: none;
        color: white;

        span {
          &:hover {
            color: rgb(163, 163, 163);
            cursor: pointer;
          }
        }
      }

      .ola {
        @media (max-width: 575px) {
          align-items: flex-end !important;
        }
  
        p {
          @media (max-width: 830px) {
            font-size: 15px !important;
          }
  
          @media (max-width: 393px) {
            font-size: 12px !important;
          }
        }
  
        span {
          text-transform: capitalize;
  
          @media (max-width: 991px) {
            font-size: 12px !important;
          }
  
          @media (max-width: 393px) {
            font-size: 10px !important;
          }
        }
  
      }
    }


    .sair {
      border: none;
      color: white;
    }
  }

  .home {
    border: none;
    color: white;

    span {
      font-size: 27px;
    }
  }
}

.header-b,
.header-adm {
  background-color: rgb(43, 43, 43);
  height: 10vh;
  color: white;

  .logo-b>p {
    color: white;
    font-weight: bold !important;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@import 'login';
@import 'cadastro';
@import 'baseinterna';
@import 'principal';
@import 'impressao';
@import 'attdados';