{% extends "baseinterna.html" %} {%block head%}

<title>Xbank - Depósito</title>

<style>
	.ola>span {
		display: none;
	}
</style>
{%endblock%} {%block body%}

<div class="pg-deposito h-100">
	<p class="h3 py-3 text-center border-bottom border-dark">Depósito</p>

	<div class="d-flex flex-column m-3 mt-5 h-75">

		<div class="mx-auto text-center pt-3">
			<p class="h2">Saldo: R$ {{g.conta.saldo | dinheiro }}</p>
		</div>

		<div class="d-flex justify-content-center align-items-center mt-2 h-50">
			<form method="POST" class="d-flex align-items-center flex-column text-center h-50 w-50">
				<label class="mb-1 h5">Digite o valor:</label>
				<input type="number" step="0.01" name="valor" id="valor" min="0.01" />
				<button type="submit" class="btn btn-secondary btn-sm w-50 mt-5">
					Depositar
				</button>
			</form>
			{% with messages = get_flashed_messages() %} {%if
			messages and id%} {%for message in messages%}
			<div class="msg d-flex align-items-center justify-content-center">
				<div class="col-9">{{message}}</div>
				<div class="col-3">
					<a href="{{url_for('conta.impressao', id_transacao=id)}}" target="_blank">
						<div class="btn btn-secondary">Gerar comprovante</div>
					</a>
				</div>
			</div>
			{%endfor%} {%endif%} {%endwith%}
		</div>
	</div>
</div>

{%endblock%}