{% extends "baseinterna.html" %} {%block head%}

<title>Xbank - Home</title>

{%endblock%} {%block body%} {%if g.conta.saldo > 0%}
<div>
	Saldo atual R${{g.conta.saldo | dinheiro}}<br>
</div>
<div>Por Favor efetue o saque antes de solicitar encerramento. </div>
{%elif g.conta.saldo < 0%}
<div>
	Saldo devedor R${{g.conta.saldo}}
</div>
<div>Por favor regularize a situação da sua conta antes de solicitar encerramento. </div>
{%else%}
<div>Você tem certeza de que deseja fechar sua conta?</div>
<div class="d-flex">
	<a href="{{url_for('conta.index')}}">
		<button>Cancelar</button>
	</a>
	<form method="POST">
		<button type="submit">Fechar conta</button>
	</form>
</div>
{%endif%} {%endblock%}
