{% extends "baseinterna.html" %} {%block head%}

<title>Xbank - Home</title>

{%endblock%} {%block body%}
<div class="pg-home">
	<p class="h3 py-3 text-center border-bottom border-dark">Últimas transações</p>

	{%if comprovantes%} {%for comprovante in comprovantes%}
	<div class="d-flex p-1 border-bottom border-dark">
		<div class="d-flex flex-column col-xxl-4 col-xl-4 col-md-4 col-sm-5 col-5">
			<div class="col-12 h5">Tipo: {{comprovante.tipo}}</div>
			<div class="col-12 h5">Status: {{comprovante.status}}</div>
		</div>
		<div class="d-flex flex-column col-xxl-8 col-xl-8 col-md-8 col-sm-7 col-7">
			<div class="col-12 h5">Valor: {{comprovante.valor | dinheiro }}</div>
			<div class="col-12 h5">
				Criado em: {{comprovante.data_inicio | datetime}}
			</div>
		</div>
	</div>
	{%endfor%} {%else%}
</div>
<div class="h-75 d-flex align-items-center justify-content-center">
	<h2 class="text-center">Não foram feitas transações nessa conta</h2>
</div>
{%endif%} {%endblock%}
