{% extends "baseinterna.html" %} {%block head%}

<title>Xbank - Saque</title>

<style>
	.ola > span {
		display: none;
	}
</style>
{%endblock%} {%block body%}

<div class="pg-saque h-100">
	<p class="h3 py-3 text-center border-bottom border-dark">Saque</p>

	<div class="d-flex flex-column gap-4 mt-2">
		<div class="mx-auto text-center">
			<p class="h2">Saldo: R$ {{g.conta.saldo | dinheiro}}</p>
		</div>

		<div class="d-flex flex-column">
			<form
				method="POST"
				class="d-flex align-items-center flex-column text-center col-12 mb-4"
			>
				<label class="my-2 h5">Digite o valor:</label>
				<input
					type="number"
					step="0.01"
					name="valor"
					id="valor"
					min="0.01"
					class="col-xxl-4 col-xl-4 col-md-5 col-sm-5 col-4"
				/>
				<button type="submit" class="btn btn-secondary btn-sm w-25 mt-4">
					Sacar
				</button>
			</form>
			{% with messages = get_flashed_messages() %} {%if messages and id%} {%for
			message in messages%}
			<div
				class="msg d-flex align-items-center justify-content-center mx-auto mt-5 col-xxl-11 col-xl-11 col-md-11 col-sm-11 col-11"
			>
				<div class="col-xxl-8 col-xl-8 col-md-12 col-sm-12 col-12">
					{{message}}
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-5 col-sm-8 col-8">
					<a
						href="{{url_for('conta.impressao', id_transacao=id)}}"
						target="_blank"
						class="w-100"
					>
						<div class="btn btn-secondary w-100">Gerar comprovante</div>
					</a>
				</div>
			</div>
			{%endfor%} {%elif messages and not id%}
			<div
				class="msg d-flex align-items-center justify-content-center mx-auto mt-5 col-xxl-11 col-xl-11 col-md-11 col-sm-11 col-11"
			>
				<div class="col-xxl-8 col-xl-8 col-md-12 col-sm-12 col-12 text-center">
					{{messages[0]}}
				</div>
			</div>

			{%endif%} {%endwith%}
		</div>
	</div>
</div>

{%endblock%}
